.deposit-container {
  margin-bottom: 50px;
}

.call {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 323px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 88px;
}
