<h1>Bonjour <%= @user.name %></h1>

<p>
Merci pour votre commande, elle sera livrée le plus rapidement possible. <br \>
N’hésitez pas à nous joindre au <strong>+33 (0)9.81.02.42.42</strong> pour toute question ou pour faire connaissance.
</p>

<p>Cordialement,</p>

<p>Rémi Lespes, gérant.</p>
