.banner {
  color: white;
  text-align: center;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-size: cover !important;
  background-position: center !important;
  border-bottom: 5px solid white;
}


.banner-content{
  margin-top: 60%;
}
