.dashboard-list {
  list-style-type: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  text-align: center;
  font-size: 130%;
  text-shadow: none !important;
  a {
    color: #c34d2e;
  }
  li {
    list-style-type: none;
  }
}
