.cart-size {
  list-style-type: none;
  margin-left: auto;
  padding-left: 0px;
  font-size: 130%;
  line-height: 18px;
}

.cart-list {
  padding-top: 40px;
}

.price {
  display: inline-block;
  color: white;
  text-shadow: 0px 0px 1px black, 0px 0px 0 #000000, 2px 2px 2px rgba(0, 0, 0, 0.25), 0px 0px 0 #000000;
  background-color: #fabb0c;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 25%;
}

.help-block {
  display: none;
}

.form-group {
  display: inline-block;
}

.button-search {
  margin-bottom:2px;
  height:36px;
}

.cart-center {
  display: flex;
  justify-content: center;
  margin-left: 12%;
}

.total {
  margin-right: 22%;
}
