<div class="col-xs-12 col-md-4 text-center">
  <div class="brewery-container1" onclick="document.location='deposits/1'">
    <div class="brewery-text text-center"><%= link_to "Cave de Bordeaux", @bordeaux %>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-4 text-center">
  <div class="brewery-container2" onclick="document.location='deposits/3'">
    <div class="brewery-text text-center"><%= link_to "Cave de Portets", @portets %>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-4 text-center">
  <div class="brewery-container3" onclick="document.location='deposits/2'">
    <div class="brewery-text text-center"><%= link_to "Bar-Cave de Mont-de-Marsan", @montdemarsan %>
    </div>
  </div>
</div>
