<div class="footer footer-background">
  <div class="col-xs-12 col-md-4 footer-item footer-background">
    SERVICE CLIENT<br />
    <div class="footer-text">
      On est là pour vous aider !<br /> Par téléphone au +33 (0)9.81.02.42.42 tous les jours.<br />
      La Cave des Moines<br />
      57 Cours Victor Hugo<br />
      33000 Bordeaux
    </div>
  </div>
  <div class="col-xs-12 col-md-4 footer-item footer-background text-center">
    UNE SECURITE SANS FAILLE<br />
    <div class="footer-text">
      <img src="http://res.cloudinary.com/cavedesmoines/image/upload/v1473433588/visa-mastercard-amex_srcayo.png" alt="" style="width:206px"><br />
      Certification PCI de niveau 1<br />
      Notre outil de paiement Stripe est certifié en tant que fournisseur de service PCI de niveau 1, le niveau de sécurité le plus élevé de l'industrie du paiement.
    </div>
  </div>
  <div class="col-xs-12 col-md-4 footer-item footer-background text-center">
    <img src="http://res.cloudinary.com/cavedesmoines/image/upload/v1473434332/Bouton-Facebook_ppyxxr.png" alt="" style="width:68px"><br />Suivez-nous sur Facebook<br />
    <p style="font-size:12px"><a href="https://www.facebook.com/LaCavedesMoines/" target="_blank">Bordeaux</a> - <a href="https://www.facebook.com/lacavedesmoinesportets/" target="_blank">Portets</a> - <a href="https://www.facebook.com/LaCavedesMoinesMontdeMarsan" target="_blank">Mont-de-Marsan</a></p>
  </div>
</div>
