<div class="text-center">
  <%= simple_form_for :added, url: carts_path, method: :post do |f| %>
    <%= f.error_notification %>
    <%= f.input :product_id, as: :hidden, input_html: { value: @product.id } %>
    <%= f.button :submit, value: "Ajouter au panier", class: 'btn-outline-secondary' %>
  <% end %>
</div>
