<h2>Édition du site</h2>
Le site <a href="http://lacavedesmoines.com" class="mentions-links">lacavedesmoines.com</a> est édité par SUD-OUEST SENSATIONS BIERES ARTISANALES SARL : « La Cave des Moines »<br />
96, route des Graves – RN 113 - 33 640 – PORTETS<br />
Capital social : 5 000,00 €<br />

<h2>Responsable de publication</h2>
Rémi LESPES - Gérant de la société Sud-Ouest Sensations BIERES ARTISANALES<br />

<h2>Coordonnées</h2>
Tel: 09 81 44 44 34 Mobiles: 06 59 85 54 40 – 07 61 10 54 40<br />
Adresse mail: contact@lacavedesmoines.fr<br />
SIRET: 791 457 393 00027 TVA: FR80 791457393<br />
RCSBORDEAUX B791457393<br />
Commerce de gros (commerce interentreprises) de boissons (4634Z)<br />
TVA: FR 014 926 O 3734<br />

<h2>Création</h2>
Les développeurs du site sont <a href="https://fr.linkedin.com/in/jonathan-serafini-01a568119" class="mentions-links" target="_blank">Jonathan Serafini</a> et <a href="https://fr.linkedin.com/in/yaneoweb" class="mentions-links" target="_blank">Yann Froment</a>. <br />Ce site est une application bâtie avec Ruby on Rails.<br />

<h2>Hébergement</h2>
Le nom de domaine de lacavedesmoines.com est loué chez OVH, 2 rue Kellermann - 59100 Roubaix - France. Le code est hébergé par la société Heroku Inc., 650 7th Street, San Francisco, CA (tel : +33 1 (877) 563-4311). Le stockage des données personnelles des utilisateurs est exclusivement réalisé sur les centre de données ("clusters") localisés dans des Etats membres de l'Union Européenne de la société Amazon Inc, dont le siège social est situé 10 Terry Avenue North, Seattle, WA. Les images sont hébergées sur cloudinary.com<br />

<h2>Vie privée</h2>
Ce site ne collecte <b>pas</b> de données afin de pister votre comportement en ligne. Nous attachons beaucoup d'importance à la vie privée. La navigation avec un cryptage SSL assure votre confidentialité sur le web. Notre outil de paiement lui aussi crypté est au plus haut niveau de sécurité de l'industrie du paiement en ligne.<br />

<h2>Conditions générales de vente</h2>
Nos prix sont exprimés TTC, nos livraisons sous colissimo prennent en moyenne de 48h à 72h. Les paiements sont enregistrés au moment de la commande. Toutefois si vous souhaitez modifier ou annuler une commande avant qu'elle ne parte, vous pouvez nous appeler au +33 (0)9.81.02.42.42. !<br /><br />
