  <div class="row">
    <div class="col-xs-12 col-md-10" style="text-align:left;"><a href="/"><img src="http://res.cloudinary.com/cavedesmoines/image/upload/v1473245442/logo-cave-des-moines_g7paoa.png" alt="" width="150px""></a></div>

  </div>
