<div>
  <img src="http://res.cloudinary.com/cavedesmoines/image/upload/v1473864577/remi-play_rd1bf3.png" alt="Les conseils de Rémi" class="remi-play">
</div>
<div class="events">
  <h2>Évènements</h2>
    <ul>
      <li><a href="#">La fête de la bière à Bordeaux !</a>
      </li>
      <li><a href="#">Arrivée de la magnifique Rio Reserva de Struise.</a>
      </li>
      <li><a href="#">Théâtre en Cave...</a>
      </li>
    </ul>
</div>
