<div>
<!--   <img src="http://res.cloudinary.com/cavedesmoines/image/upload/v1473864577/remi-play_rd1bf3.png" alt="Les conseils de Rémi" class="remi-play"> -->
</div>
<div class="events">
  <h2>Authentique</h2>
    <ul>
      <li style="text-shadow: 0 1px 2px rgba(199, 199, 199, 0.6);">La cave des moines c'est 1500 références sur place et 500 articles sélectionnés sur notre site web.
      </li>
      <li style="text-shadow: 0 1px 2px rgba(199, 199, 199, 0.6);font-weight:bold">LIVRAISONS GRATUITES SUR BORDEAUX, PORTETS ET MONT-DE-MARSAN
      </li>
      <li style="margin-top:20px;font-size:70%" class="text-center">
      <img src="
http://res.cloudinary.com/cavedesmoines/image/upload/v1474970908/livraison/colissimo-co2.png" alt="" style="width: 100%; max-width: 180px; object-fit: contain"></a><br />
      </li>
      <li style="margin-top:20px;font-size:70%" class="text-center">
      UNE SÉCURITÉ SANS FAILLE
      <a href="https://stripe.com/fr" target="_blank">
      <img src="http://res.cloudinary.com/cavedesmoines/image/upload/v1473433588/visa-mastercard-amex_srcayo.png" alt="" style="width: 100%; max-width: 180px; object-fit: contain"></a><br />
      Certification PCI de niveau 1<br />
      </li>
    </ul>
</div>

