<div class="events">
<h2>Évènements</h2>
<ul>
  <li><a href="#">La fête de la bière à Bordeaux !</a>
  </li>
  <li><a href="#">Arrivée de la magnifique Rio Reserva de Struise.</a>
  </li>
  <li><a href="#">Théâtre en Cave...</a>
  </li>
</ul>
</div>
