<h1>Carts show</h1>

<ul>
  <% session[:cart].each do |selected| %>
    <li>
      <p><%= selected[:product].name %></p>
      <p><%= selected[:quantity] %></p>
    </li>
  <% end %>
</ul>

<% if session[:cart].count != 0 %>
  <%= link_to "Commander",  new_order_path %>
<% end %>
