<div class="container-fluid index-products" style = "background: linear-gradient(-225deg, rgba(201, 48, 44, 0) 0%, rgba(255, 235, 0, 0) 100%), url('http://res.cloudinary.com/cavedesmoines/image/upload/v1473258751/index-products_jkifoo.jpg');">

  <%= render '/shared/navbar' %>

  <div class="row">
    <div class="container-fluid">
    <div class="col-xs-12 col-sm-2">Lorem ipsum</div>
      <div class="col-xs-12 col-sm-8">
        <h2 class="cat">Products</h2>
        <!-- Flats code -->

              <div class="card-show">
                <h1><%= @product.name %></h1>

                    <%= @product.alcohol.name %>
              </div>

        </div>
    <div class="col-xs-12 col-sm-2"></div>
    </div>
  </div>
</div>
