a:hover {
  text-decoration: none;
}

.index-products {
  background-size: cover !important;
  background-position: center !important;
}

/* Card design */
.card {
  height: 100%;
  min-height: 450px;
  display: inline-block;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: black;
  position: relative;
  background-color: rgba(255,255,255,0.8) !important;
}
.card-description {
  height: auto;
  position: absolute;
  left: 33px;
}
.card-description h2 {
  font-size: 24px;

  a {
    color: #fabb0c;
  }
}
.card-description p {
  font-size: 13px;
}

.card-description-index {
    height: auto;
    position: absolute;
    left: 33px;
    right: 33px;
    font-size: 92%;
    top: 20px;

  a {
    color: #ba4c2e;
    font-size: 162%;
    font-family: 'Great Vibes', cursive;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25), -1px -1px 0 #faba0a;
  }
}

.card-show-index {
  height: 100%;
  width: 100%;
  min-height: 775px;
  display: inline-block;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: black;
  position: relative;
  background-color: rgba(255,255,255,0.8) !important;
  border-radius: 5px;
  margin-bottom: 10px;

  h1 {
    color: #fabb0c;
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 175%;
  }
}

// Index en Flex à poursuivre

// .card-show-index {
//   display: flex;
//   flex-direction: column;
//   color: black;
//   background-color: rgba(255,255,255,0.8) !important;
//   border-radius: 5px;
//   margin-bottom: 10px;

//   h1 {
//     color: #fabb0c;
//     margin-top: 0px;
//     font-size: 175%;
//   }
// }

// .card-show-index > div {
//   flex: 1;

//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }

h2.cat-beer {
  color: white;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.9);
  font-size: 47px;
  text-align: center;
}

.no-product {
  color: white;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.9);
}

.random-choice {
  margin-top:50px;
  color: white;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.9);
}

.random-icon {
  width:300px;
}

.choose-button-index {
  font-family: 'Great Vibes', cursive !important;
  font-size: 35px !important;
  line-height: 24px;
  margin-top: -9px;
}

.refine-search-button {
  font-family: 'Great Vibes', cursive;
  font-size: 28px;
  height: 40px;
  padding-top: 2px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

}
