@import 'https://fonts.googleapis.com/css?family=Great+Vibes';

.remi-play {
  margin-left: 19px;
  margin-top: 26px;
  width: 160px;
}

.events {
  color: white;
  margin-left: 20px;
  ul {
    list-style: none;
    line-height: 25px;
    padding-left: 4px;
    li {
    margin-top: 8px;
    }
  }
  h2 {
    font-size: 175%;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  }
  a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  }
  a:hover {
    text-decoration: none;
  }
}

.refine-search {
  h2 {
  color:white;
  font-size: 19px;
  }
  background-color: rgba(0,0,0,0.5);
  min-height: 650px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 16px;
}

.card-show-desc {
  width: 45%;
}

.card-show-remi-desc {
  width: 55%;
}

.product-photo {
  width: 80%;
  border: 6px solid #fbbb0d;
  border-radius: 50%;
}

.product-photo-index {
  width: 100%;
  border: 6px solid #fbbb0d;
  border-radius: 50%;
  margin-bottom: 18px;
}

.le-conseil-du-patron {
  margin-top: 20px;
}

.btn-outline-secondary {
  color: #fff !important;
  background-image: none;
  background-color: #fbbb0d;
  border-color: #fbbb0d;
  text-shadow:none;
}

.btn-outline-secondary:hover {
  color: #fff !important;
  background-color: #ffba00 !important;
  border-color: #ffba00 !important;
}

.choose {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    font-family: great vibes, cursive;
    font-size: 227%;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25), 1px 0px 0 #b7482d;
}

.brewery {
  color: #fabb0c;
  a {
    color: #fabb0c;
  }
  a:hover, a:focus {
    color: #fabb0c !important;
  }
}

.product-details {
  font-size: 125%;

}
