.remi-play {
  margin-left: 19px;
  margin-top: 26px;
  width: 160px;
}

.events {
  color: white;
  margin-left: 20px;
  ul {
    list-style: none;
    line-height: 25px;
    padding-left: 4px;
    li {
    margin-top: 8px;
    }
  }
  h2 {
    font-size:30px;
    color:white;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  }
  a:hover {
    text-decoration: none;
  }
}

.refine-search {
  h2 {
  color:white;
  font-size: 19px;
  }
}

.card-show-desc {
  width: 33%;
}

.card-show-remi-desc {
  width: 64%;
  margin-top: 10px;
}

.product-photo {
  width: 360px;
  border: 6px solid #fbbb0d;
  border-radius: 50%;
}

.le-conseil-du-patron {
  margin-top: 20px;
}

.btn-outline-secondary {
  color: #fff;
  background-image: none;
  background-color: #fbbb0d;
  border-color: #fbbb0d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #ffba00 !important;
  border-color: #ffba00 !important;
}

.brewery {
  color: #fabb0c;
}
